streamlit
numpy
pandas
openpyx
Pillow
matplotlib
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
flask
plotly
requests
pymongo
streamlit
numpy
pandas
Pillow
plotly
pymongo
python-dotenv
watchdog
bson